<?xml version="1.0"?>
<robot name="robot_gltf">
    <link name="chassis">
        <visual name="">
            <!-- <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/> -->
            <geometry>
                <mesh filename="package://meshes/robot_gltf.glb" object="chassis" scale="1 1 1"/>
            </geometry>
        </visual>
    </link>
</robot>