<robot name="Ray Sensor">
	<link name="base_link">
	
		<visual name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="">
			
			</material>
		</visual>

		<collision name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<box size="0.1 0.1 0.1"/>
			</geometry>
		</collision>

	</link>
	
	<sensor name="ray_sensor" type="ray">
		<parent link="base_link" />
		<origin xyz="0 0 0.1" rpy="0 0 0" />
		<ray>
			<horizontal samples="1" resolution="1" min_angle="-1.5708" max_angle="1.5708" />
		</ray>
	</sensor>
</robot>
