<standalone name="Cube">
	<link name="base_link">
	
		<visual name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="">
			<color rgba="1 1 0 1"/>
			</material>
		</visual>

		<collision name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<box size="0.1 0.1 0.1"/>
			</geometry>
		</collision>

	</link>
</standalone>
