<standalone name="Rounded cube">
	<link name="base_link">
	
		<visual name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<mesh filename="./meshes/cube.glb" />
			</geometry>
		</visual>

		<collision name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<box size="0.2 0.2 0.2"/>
			</geometry>
		</collision>

	</link>
</standalone>
